.jumbotron{
    background-color: $yellow;
    color: black;
    margin-top: 50px;
}
.footer{
    padding:10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;;
}
.btn1 {
    background-color: green;
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
}
.btn-reserva{
    width: self;
    /*margin-top: 10px;*/
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}