/*archivo less*/
/*Para definir los colores*/
.jumbotron {
  background-color: #fffa19;
  color: #020f05;
  margin-top: 50px;
  margin-bottom: 0px;
}
.footer {
  padding: 10px 10px 0px 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn1 {
  background-color: #31a34f;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: self;
  /*margin-top: 10px;*/
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
