/*Para definir los colores*/
$yellow: #D2E134;
$green: #31a34f;
$black: #020f05;

@mixin margenes($top, $bottom)
{
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color:$black;
    //margin-top: 50px;
    @include margenes(50px, 10px);
}
.footer{
    padding:10px 10px 0px 10px;
    background-color:$yellow;
    //margin-bottom: 0px;;
    @include margenes(10px,0)
}
.btn1 {
    background-color:$green;
}
.card-hotel{
    flex: 1 200px;
    //padding: 2px 0px 2px 0px;
    @include margenes(10px, 0);
}
.btn-reserva{
    width: self;
    /*margin-top: 10px;*/
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}