/*Para definir los colores*/
.jumbotron {
  background-color: #D2E134;
  color: #020f05;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  padding: 10px 10px 0px 10px;
  background-color: #D2E134;
  margin-top: 10px;
  margin-bottom: 0; }

.btn1 {
  background-color: #31a34f; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reserva {
  width: self;
  /*margin-top: 10px;*/
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
